.apply-form {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .apply-form div {
    margin-bottom: 15px;
  }
  
  .apply-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .apply-form input[type="text"],
  .apply-form input[type="number"],
  .apply-form input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box;
  }
  
  .apply-form button[type="submit"] {
    background-color: #1b719f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-form button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .apply-form .error {
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
  }
  
  .success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .success-modal p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .success-modal button {
    background-color: #287b9f;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .success-modal button:hover {
    background-color: #45a049;
  }
  