.display-submitted {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .display-submitted table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .display-submitted th, .display-submitted td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  .display-submitted th {
    background-color: #1b719f;
    color: white;
  }
  
  .display-submitted tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .display-submitted tbody tr:hover {
    background-color: #e0e0e0;
  }
  